<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="ingredient" content="Site vitrine de la boulangerie snacking LM Le Mées">
		<meta name="author" content="Jonathan Auroux Martel">
		<title>Le Mées LM</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="icon" type="image/png" href="{{ asset('assets/images/logo1.webp') }}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	</head>

	<body>

		{# ----------------------------------------------------NAVBAR---------------------------------------------------- #}
		<nav>
			<div class="navbar-logo">
				<img src="{{ asset('assets/images/logo1.webp') }}" alt="Logo LM Le Mées">
			</div>
			<div id="menu-toggle" class="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="navbar-links">
				<a href=" {{ path('app_homepage') }} ">Accueil</a>
				<a href=" {{ path('app_homepage') }}#distributeur ">Le distributeur à pizza</a>
				<div class="dropdown">
					<a href="{{ path('app_homepage') }}#carte" class="dropbtn">Carte</a>
					<div class="dropdown-content">
						<a href="{{ path('app_homepage') }}#carte">Pizza</a>
						<a href="{{ path('app_homepage') }}#carte">Salade Bar</a>
						<a href="{{ path('app_homepage') }}#carte">Snacking</a>
						<a href="{{ path('app_homepage') }}#carte">Gourmandises</a>
						<a href="{{ path('app_homepage') }}#carte">Formule</a>
					</div>
				</div>
				<a href="{{ path('app_homepage') }}#contact">Contact</a>
				<a href="https://www.facebook.com/profile.php?id=100075673855138&locale=fr_FR" target="_blank" aria-label="Facebook">
					<img src="{{ asset('assets/images/facebook.webp') }}" alt="Facebook">
				</a>
				<a href="https://www.instagram.com/le_mees_lm/" target="_blank" aria-label="Instagram">
					<img src="{{ asset('assets/images/instagram.webp') }}" alt="Instagram">
				</a>
			</div>
		</nav>

		{# ----------------------------------------------------BANNER---------------------------------------------------- #}
		<div id="banner">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4">
						<div class="left-content">
							<div class="inner-content">
								<h1>Le Mées</h1>
								<h2>Le goût à portée de main</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="main-banner header-text">
							<div class="Modern-Slider">
								<div class="item">
									<div class="img">
										<img src="{{ asset('assets/images/salle.webp') }}" alt="salle LM Le Mées">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ asset('assets/js/burger.js') }}"></script>	
	</body>
</html>
