{% extends 'base.html.twig' %}

{% block title %}Le Mées{% endblock %}

{% block body %}


    {# ----------------------------------------------------MAIN---------------------------------------------------- #}
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="text-center">
                        <div class="section-heading">
                            <h6 class="left-content">Le Mées</h6>
                        </div>
                        <p> Bienvenue chez "LM Le Mées", votre boulangerie-pizzeria située au cœur de la zone d'activité
                            économique de Mées. </p>
                        <p>Depuis trois ans, notre équipe de quatre passionnés, comprenant un pizzaïolo expert, vous
                            propose un
                            large éventail de délices.</p>
                        <p>Savourez nos pains frais, pizzas artisanales, sandwiches variés, paninis croustillants et
                            tacos
                            gourmands, tous préparés avec des ingredientde qualité.</p>
                        <p>Notre salade bar vous offre une sélection de crudités fraîches et de sauces maison pour
                            composer
                            votre salade sur mesure.</p>
                        <p>Enfin, laissez-vous tenter par nos gourmandises sucrées, telles que nos viennoiseries,
                            pâtisseries et entremets</p>
                        <p>Que vous soyez un employé pressé ou un visiteur curieux, "LM Le Mées" est l'endroit idéal
                            pour une pause
                            savoureuse ou un déjeuner convivial.</p>
                        <p>Venez découvrir notre ambiance chaleureuse et nos saveurs authentiques, où la tradition
                            rencontre la modernité.</p>
                        <p>Nous vous acceuillons du lundi au vendredi de 7h30 à 15h30.</p>
                        <h3>A bientôt chez "LM Le Mées"! </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------DISTRIBUTEUR--------------------------------------------------- #}
    <section id="distributeur">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Le distributeur à Pizza</h6>
                            <h2>Parce que le delicieux n'a pas d'heure</h2>
                        </div>
                        <div>
                            <p>Pour répondre au mieux à vos besoins, nous avons mis en place un distributeur à pizza qui
                                est accès libre 24/7.</p>
                            <p>Via l'application Smart-Pizza, vous pouvez réserver votre pizza et venir la récuperer à
                                l'heure de retrait choisie.</p>
                            <p>Le distributeur est approvisionné tous les jours en pizzas fraîches.</p>
                            <p>Les pizzas sont préparées par nos soins avec des produits frais et de qualité, pré-cuites
                                sur place. La fin de la cuisson se fait en 3 minutes au moment du retrait.</p>
                            <p>Le paiement de la commande s'effectue via l'application limitant le temps de passage au
                                distributeur.</p>
                        </div>

                        <div class="section-heading">
                            <h2>Application Smart-Pizza</h2>
                            <p>Retrouvez l'application Smart-Pizza disponible sur l'App Store et Google Play.</p>
                            <p>Elle permet  de géolocaliser les distributeurs à proximité et de commanderen ligne.</p>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <img src="{{ asset('assets/images/smart pizza.PNG') }}" alt="application smart pizza">
                            </div>
                            <div class="col-4">
                                <a href="https://apps.apple.com/fr/app/smart-pizza/id1603849374"><img
                                        src="{{ asset('assets/images/applestore.png') }}" alt="apple store"></a>
                            </div>
                            <div class="col-4">
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.apitech.smart_pizza&pcampaignid=web_share"><img
                                        src="{{ asset('assets/images/googleplay.png') }}" alt="google play"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <img src="{{ asset('assets/images/distributeur.PNG') }}" alt="distributeur à pizza">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------CARTE---------------------------------------------------- #}

    <section id="carte">
        <div class="row">
            <div class="col-lg-12 offset-lg-12 text-center">
                <div class="section-heading">
                    <h6>Cartes</h6>
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"> <img src="{{ asset('assets/images/pizza2.PNG') }}" alt="pizza"></a>
                                <div class="text-overlay">
                                    <h3>Pizza
                                        <a href="{{ path('app_carte_index') }}"></a>
                                    </h3> 
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"><img src="{{ asset('assets/images/salade2.png') }}" alt="salade bar"></a>
                                <div class="text-overlay">
                                    <h3>Salade Bar</h3>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"> <img src="{{ asset('assets/images/sandwich.png') }}" alt="snacking"></a>
                                <div class="text-overlay">
                                    <h3>Snacking</h3>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"> <img src="{{ asset('assets/images/gourmandises.png') }}" alt="Gourmandises"></a>
                                <div class="text-overlay">
                                    <h3>Gourmandises</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------CONTACT---------------------------------------------------- #}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contactez-nous</h6>
                        </div>
                        <p>Pour toutes questions, n'hésitez pas à nous contacter, nous serons ravis d'y répondre.</p>
                        <div class="row">
                            
                                <div class="box">
                                    <div class="phone">
                                        <h4>Numéro de téléphone</h4>
                                        <span>05 58 49 92 66</span>
                                    </div>
                                </div>    
                                <div class="box">
                                    <div class="adress">
                                        <h4>Adresse</h4>
                                        <span>78 rue des alouettes <br> 40990 MÉES</span>
                                    </div>
                                </div>    
                            
                                <div class="box">
                                    <div class="time">
                                        <h4>Horaires</h4>
                                        <span>Du lundi au vendredi <br> de 7h30 à 15h30</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" >
                    <div class="contact-form">
                        <form id="contact" action="send_mail.php" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Formulaire de contact</h4>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="Votre nom" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                            placeholder="Votre adresse mail" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <fieldset>
                                        <input name="phone" type="text" id="phone" placeholder="Numéro de téléphone"
                                            required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" id="message" placeholder="Message"
                                            required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button-icon">Envoyer</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2495.8793289689247!2d-1.130641157049496!3d43.71843110886057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd56a9249bc10e65%3A0xb3188736319b3f6a!2sLM%20Le%20Mees!5e0!3m2!1sfr!2sfr!4v1720424106836!5m2!1sfr!2sfr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------FOOTER---------------------------------------------------- #}

{% endblock %}


