<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="ingredient" content="Site vitrine de la boulangerie snacking LM Le Mées">
    <meta name="author" content="Jonathan Auroux Martel">
    <title>Le Mées LM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>

<body>

    {# ----------------------------------------------------NAVBAR---------------------------------------------------- #}
    <nav>
        <div class="navbar-logo">
            <img src="{{ asset('assets/images/logo1.png') }}" alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="">Accueil</a>
            <a href="#distributeur">Le distributeur à pizza</a>
            <div class="dropdown">
                <a href="{{ path('app_carte_index') }}" class="dropbtn">Carte</a>
                <div class="dropdown-content">
                    <a href="{{ path('app_carte_index') }}">Pizza</a>
                    <a href="{{ path('app_carte_index') }}">Salade Bar</a>
                    <a href="{{ path('app_carte_index') }}">Snacking</a>
                    <a href="{{ path('app_carte_index') }}">Gourmandises</a>
                    <a href="{{ path('app_carte_index') }}">Formules</a>
                </div>
            </div>
            <a href="#contact">Contact</a>
            <a href="https://www.facebook.com/profile.php?id=100075673855138&locale=fr_FR" target="_blank"
                aria-label="Facebook">
                <img src="{{ asset('assets/images/facebook.png') }}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/le_mees_lm/" target="_blank" aria-label="Instagram">
                <img src="{{ asset('assets/images/instagram.png') }}" alt="Instagram">
            </a>
        </div>
        <button class="navbar-toggle" id="navbar-toggle">
            ☰
        </button>
    </nav>

    {# ----------------------------------------------------BANNER---------------------------------------------------- #}
    <div id="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>Le Mées</h4>
                            <h6>Le goût à portée de main</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                            <div class="item">
                                <div class="img">
                                    <img src="{{ asset('assets/images/salle.PNG') }}" alt="slide-01">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ----------------------------------------------------MAIN---------------------------------------------------- #}
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="text-center">
                        <div class="section-heading">
                            <h6>Le Mées</h6>
                            <h2>Le goût à portée de main</h2>
                        </div>
                        <p> Bienvenue chez "LM Le Mées", votre boulangerie-pizzeria située au cœur de la zone d'activité
                            économique de Mées. </p>
                        <p>Depuis trois ans, notre équipe de quatre passionnés, comprenant un pizzaïolo expert, vous
                            propose un
                            large éventail de délices.</p>
                        <p>Savourez nos pains frais, pizzas artisanales, sandwiches variés, paninis croustillants et
                            tacos
                            gourmands, tous préparés avec des ingredients de qualité.</p>
                        <p>Notre salade bar vous offre une sélection de crudités fraîches et de sauces maison pour
                            composer
                            votre salade sur mesure.</p>
                        <p>Enfin, laissez-vous tenter par nos gourmandises sucrées, telles que nos viennoiseries,
                            pâtisseries et entremets</p>
                        <p>Que vous soyez un employé pressé ou un visiteur curieux, "LM Le Mées" est l'endroit idéal
                            pour une pause
                            savoureuse ou un déjeuner convivial.</p>
                        <p>Venez découvrir notre ambiance chaleureuse et nos saveurs authentiques, où la tradition
                            rencontre la modernité.</p>
                        <p>Nous vous acceuillons du lundi au vendredi de 7h30 à 15h30.</p>
                        <h3>A bientôt chez "LM Le Mées"! </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------DISTRIBUTEUR--------------------------------------------------- #}
    <section id="distributeur">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Le distributeur à Pizza</h6>
                            <h2>Parce que le delicieux n'a pas d'heure</h2>
                        </div>
                        <div>
                            <p>Pour répondre au mieux à vos besoins, nous avons mis en place un distributeur à pizza qui
                                est accès libre H24.</p>
                            <p>Via l'application Smart-Pizza, vous pouvez réserver votre pizza et venir la récuperer à
                                l'heure de retrait choisie.</p>
                            <p>Le distributeur est approvisionné tous les jours en pizzas fraîches.</p>
                            <p>Les pizzas sont préparées par nos soins avec des produits frais et de qualité, pré-cuites
                                sur place. La fin de la cuisson se fait en 3 minutes au moment du retrait.</p>
                            <p>Le paiement de la commande s'effectue via l'application limitant le temps de passage au
                                distributeur.</p>
                        </div>

                        <div class="section-heading">
                            <h2>Application Smart-Pizza</h2>
                            <p>Retrouvez notre application Smart-Pizza sur l'App Store et Google Play.</p>
                            <p>Elle permet à vos clients de géolocaliser les distributeurs à proximité et de commander
                                en ligne.</p>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <img src="{{ asset('assets/images/smart pizza.PNG') }}" alt="application smart pizza">
                            </div>
                            <div class="col-4">
                                <a href="https://apps.apple.com/fr/app/smart-pizza/id1603849374"><img
                                        src="{{ asset('assets/images/applestore.png') }}" alt="apple store"></a>
                            </div>
                            <div class="col-4">
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.apitech.smart_pizza&pcampaignid=web_share"><img
                                        src="{{ asset('assets/images/googleplay.png') }}" alt="google play"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <img src="{{ asset('assets/images/distributeur.PNG') }}" alt="distributeur à pizza">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------CARTE---------------------------------------------------- #}

    <section id="carte">
        <div class="row">
            <div class="col-lg-12 offset-lg-12 text-center">
                <div class="section-heading">
                    <h6>Cartes</h6>
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"> <img src="{{ asset('assets/images/pizza2.PNG') }}" alt="pizza"></a>
                                <div class="text-overlay">
                                    <h3>Pizza</h3>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"><img src="{{ asset('assets/images/salade2.png') }}" alt="salade bar"></a>
                                <div class="text-overlay">
                                    <h3>Salade Bar</h3>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"> <img src="{{ asset('assets/images/sandwich.png') }}" alt="snacking"></a>
                                <div class="text-overlay">
                                    <h3>Snacking</h3>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="{{ path('app_carte_index') }}"> <img src="{{ asset('assets/images/gourmandises.png') }}" alt="Gourmandises"></a>
                                <div class="text-overlay">
                                    <h3>Gourmandises</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------CONTACT---------------------------------------------------- #}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contactez-nous</h6>
                        </div>
                        <p>Pour toutes questions, n'hésitez pas à nous contacter, nous serons ravis d'y répondre.</p>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="phone">
                                    <h4>Numéro de téléphone</h4>
                                    <span>05 58 49 92 66</span>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="adress">
                                    <h4>Adresse</h4>
                                    <span>78 rue des alouettes <br> 40990 MÉES</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="time">
                                    <h4>Horaires</h4>
                                    <span>Du lundi au vendredi <br> de 7h30 à 15h30</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" >
                    <div class="contact-form">
                        <form id="contact" action="send_mail.php" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Formulaire de contact</h4>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="Votre nom" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                            placeholder="Votre adresse mail" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <fieldset>
                                        <input name="phone" type="text" id="phone" placeholder="Numéro de téléphone"
                                            required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" id="message" placeholder="Message"
                                            required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button-icon">Envoyer</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2495.8793289689247!2d-1.130641157049496!3d43.71843110886057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd56a9249bc10e65%3A0xb3188736319b3f6a!2sLM%20Le%20Mees!5e0!3m2!1sfr!2sfr!4v1720424106836!5m2!1sfr!2sfr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    {# ----------------------------------------------------FOOTER---------------------------------------------------- #}
  <footer>
        <div class="footer-content">
            <div class="logo-container">
                <img src="{{asset ('assets/images/logofooter.PNG') }}" alt="Logo" class="logo">
            </div>
            <div id="developer-name">
                <a href="https://www.linkedin.com/in/jo064/" target="_blank" aria-label="Linkedin">
                    <p>Jonathan Auroux Martel 2024 ©</p>
                </a>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                    <li><a href="{{ path('cgu') }}">Conditions générales d'utilisations</a></li>
                    <li><a href="{{ path('cgv') }}">Conditions générales de ventes</a></li>
                </ul>
            </div>
            <a href="#" class="scroll-to-top" aria-label="Retour en haut">
                <img src="{{ asset ('assets/images/flèchehaut.png') }}" alt="Flèche pour revenir en haut">
            </a>
        </div>
    </footer>

    <script>
        document.getElementById('navbar-toggle').addEventListener('click', function () {
            document.querySelector('.navbar-links').classList.toggle('active');
        });
    </script>
</body>

</html>

