{% extends 'base.html.twig' %}
{% block title %}Le Mées{% endblock %}

{% block body %}


    {# ----------------------------------------------------MAIN---------------------------------------------------- #}


    <main>
        <div class="category">
            <div class="overlay">
                <h2>Les Formule</h2>
                <ul>
                    {% for Formule in Formule %}
                        <li>{{ Formule.title }} : {{ Formule.ingredient}} <b>{{ Formule.price }}€</b></li>
                    {% endfor %}
                </ul>
                <h6 class="small">* Snacking : Sandwich, Paninis, Tacos, Wrap, Burger</h6>
                <h6 class="small">* Salade : Salade composée, poké-ball, salade du jour</h6>
            </div>
        </div>

        <div class="category">
            <div class="overlay">
                <h2>Salade Bar</h2>
                <ul>
                    {% for salade in saladeBars %}
                        <li>{{ salade.title }} <br> {{ salade.ingredient}} <b>{{ salade.price }}€</b></li>
                    {% endfor %}
                </ul>
                <h6 class="small"> * Ingrédient supplémentaire : 0.50€</h6>
            </div>  
        </div>

        <div class="category">
            <div class="overlay">
                <h2>Snacking</h2>
                <ul>
                    {% for snack in snackings %}
                        <li>{{ snack.title }} : {{ snack.ingredient}} <b>{{ snack.price }}€</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="category">
            <div class="overlay">
                <h2>Pizzas base tomate</h2>
                <ul>
                    {% for pizzaTomate in pizzaTomates %}
                        <li>{{ pizzaTomate.title }} : {{ pizzaTomate.ingredient}} <b>{{ pizzaTomate.price }}€</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="category">
            <div class="overlay">
                <h2>Pizzas base crème</h2>
                <ul>
                    {% for pizzaCreme in pizzaCremes %}
                        <li>{{ pizzaCreme.title }} : {{ pizzaCreme.ingredient}} <b>{{ pizzaCreme.price }}€</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="category">
            <div class="overlay">
                <h2>Pizzas chef</h2>
                <ul>
                    {% for pizzaChef in pizzaChefs %}
                        <li>{{ pizzaChef.title }} : {{ pizzaChef.ingredient}} <b>{{ pizzaChef.price }}€</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="category">
            <div class="overlay">
                <h2>Gourmandises</h2>
                <ul>
                    {% for gourmandise in gourmandises %}
                        <li>{{ gourmandise.title }} <b>{{ gourmandise.price }}€</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

{% endblock %}